<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<canvas id="c"></canvas>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="module">
//  three.js 위치 import 하기
import * as THREE from 'https://threejsfundamentals.org/threejs/resources/threejs/r119/build/three.module.js';

//  그려줄 위치 설정하기
const canvas = document.querySelector('#c');
const renderer = new THREE.WebGLRenderer({canvas});
renderer.setSize (window.innerWidth, window.innerHeight);

const fov = 178;
const aspect = 2;  // the canvas default
const near = 0.1;
const far = 0;
let r = 0.0;
let theta = 0.0;
let arr;
let cube = new Array();
let rs_angle = new Array();
let rs_dist = new Array();
let geometry;
let material;

//  한변의 길이
const radius = 0.5;
//  segments 각형( 최소 3각형)
const segments = 25;
//  무엇으로 그려줄 지 설정히기
geometry = new THREE.CircleBufferGeometry(radius, segments);
//  그려줄 것 색 설정히기
material = new THREE.MeshBasicMaterial({ color: 0xffffff })

//  카메라 보이는 크기 설정하기
const camera = new THREE.PerspectiveCamera(fov, aspect, near, far);
//  카메라 위치 설정하기
camera.position.z = 2
//  좌표계 설정
const scene = new THREE.Scene();
//  배경색 설정
scene.background = new THREE.Color( 0x000000);
//  실행하기
// recy ()
// recy ()
setInterval(recy,500)
//  점 찍기
//recy()
function recy () {
    axios.get('http://localhost:7777/getlidar').then(res => {
        rs_angle = res.data.key_angle
        rs_dist = res.data.key_dist
        console.log(rs_dist)
    })

    for(let i = 0; i < rs_angle.length; i = i + 1)
    {
        r = rs_dist[i]/100
        theta = rs_angle[i]
        let x = r * Math.cos( theta*(Math.PI/180) )
        let y = r * Math.sin( theta*(Math.PI/180) )

        //  색가 그릴 것을 합쳐주기
        cube[i] = new THREE.Mesh(geometry, material)
        //  중심에서부터 x 축으로 옮겨주기
        cube[i].position.x = x;
        //  중심에서부터 y 축으로 옮겨주기
        cube[i].position.y = y;
        //  좌표계에다가 그려주기
        scene.add(cube[i])
    }

    renderer.render(scene, camera)

    //  그려준거 삭제하기
    for(let i = 0; i<rs_angle.length; i++)
    {
        scene.remove(cube[i])
        cube[i].geometry.dispose();
        cube[i].material.dispose();
        cube[i] = undefined;
    }}
</script>
<style>
    canvas {
        border: 1px solid blue;
        height: 870px;
        width: 1900px;
    }
</style>
</body>
</html>
